
.idea/.name


*.class

*.class

.idea/libraries/android_support_v7_appcompat.xml

.idea/libraries/android_support_v4.xml

AndroidApplication/gen/com/example/copdmgmtapp/Manifest.java

AndroidApplication/gen/android/support/v7/appcompat/R.java

AndroidApplication/copdMgmtApp.iml

AndroidApplication/bin/classes/copdMgmtApp.apk

AndroidApplication/gen/com/example/copdmgmtapp/BuildConfig.java
